<div class="ih-bg-container">
    <div class="ih-bg-img ih-bg-img-missingivanchai">
        <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
        <div class="container text-white">
            <div class="row mt-m">
                <div class="col-md-4 offset-md-8">
                    <div class="logo logo-black logo-sm">
                        <a href="https://www.ivansherbs.com" title="Ivan's Herbs">
                            <div class="logo-image"></div>
                            <span class="logo-name f-monad f-wide">Ivan's Herbs</span>
                            <span class="logo-motto f-monad">Herbs from Siberia</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ih-full-height ih-vertical-bottom">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="font-weight-bold">GABRIEL WAS HERE</h1>
            <h2>Whooops!<br>Ran out of Ivan Chai?</h2>
            <p>We might be able to help you here.</p>
            <p>Visit our <a href="https://shop.ivansherbs.com" title="Ivan's Herbs Online Shop" alt="Ivan's Herbs Online Shop">Shop</p>
            <p class="d-none d-md-block mb-l"></p>
            <p class="d-md-none mb-m"></p>
        </div>
    </div>
</div>
