<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNFWKPG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header header-transparent"></header>
<div id="fullpage">

<!--
            <div class="ih-page-loader">
               <div class="ih-page-loader-inner">
                  <div class="ih-spinner">
                     <div class="ih-spinner-bounce"></div>
                  </div>
               </div>
            </div>
-->
<!--
            <div class="video-container">
                <iframe id="video-iframe" frameborder="0" allow="autoplay; encrypted-media" title="Ivan's Herbs" width="640" height="360" src="https://www.youtube.com/embed/oX5-ZJ4mus0?enablejsapi=1&controls=0&showinfo=0&autoplay=1&disablekb=1&rel=0&iv_load_policy=3&modestbranding=1"></iframe>
            </div>
-->
    <section class="section" data-anchor="ivan_chai">
        <div class="slide text-left">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-ivanchaidrink">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                    <div class="container text-white">
                        <div class="row mt-m">
                            <div class="col-md-4 offset-md-8">
                                <div class="logo logo-sm">
                                    <div class="logo-image"></div>
                                    <span class="logo-name f-monad f-wide">Ivan's Herbs</span>
                                    <span class="logo-motto f-monad">Herbs from Siberia</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-white ih-full-height ih-vertical-bottom">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="mb-s">Revive <span class="font-weight-bold nowrap">Ivan Chai</span> with us</h1>
                        <p class="mb-m">A beneficial Siberian herbal infusion</p>
                        <p>
                            <a class="btn btn-fancy btn-lg" href="#ivan_chai/benefits">Discover the benefits</a>
                        </p>
                        <p class="d-none d-md-block mb-l"></p>
                        <p class="d-md-none mb-m"></p>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="slide text-center">
            <div class="ih-bg-container">
               <div class="ih-bg-img ih-bg-img-ivanchaifield">
                   <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                   <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
               </div>
            </div>
            <div class="container text-white ih-full-height ih-vertical-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo mb-l">
                            <div class="logo-image"></div>
                            <span class="logo-name f-monad f-wide">Ivan's Herbs</span>
                            <span class="logo-motto f-monad">Herbs from Siberia</span>
                        </div>
                        <p>
                            <a class="btn btn-fancy btn-lg" href="#">Discover the benefits</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
-->
<!--
        <div class="slide text-left">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-ivanchaidrink">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                    <div class="container text-white">
                        <div class="row mt-m">
                            <div class="col-md-4 offset-md-8">
                                <div class="logo logo-sm">
                                    <div class="logo-image"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-white ih-full-height ih-vertical-bottom">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2 class="mb-m">Revive the beneficial<br>herbal infusion<br><span class="font-weight-bold nowrap">Ivan Chai</span><br>with us</h2>
                        <p>
                            <a class="btn btn-fancy btn-lg" href="#">Discover the benefits</a>
                        </p>
                        <p class="d-none d-md-block mb-l"></p>
                        <p class="d-md-none mb-m"></p>
                    </div>
                </div>
            </div>
        </div>
-->
        <div class="slide" data-anchor="benefits">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-pouring">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                </div>
            </div>
            <div class="container text-white ih-full-height">
                <div class="row mb-l">
                    <div class="col-md-12">
                        <p class="d-none d-md-block mt-l"></p>
                        <p class="d-md-none mt-m"></p>
                        <h2 class="mb-s">Ivan Chai benefits your body and mind</h2>
                        <ul class="font-weight-bold">
                            <li>It regulates nerve activity, restoring you after mental or physical exhaustion.</li>
                            <li>Kids enjoy it as it has a naturally sweet taste and it's caffeine free.</li>
                            <li>Excellent prostate problem prevention as well as potency improvement.</li>
                        </ul>
                        <p class="d-none d-md-block mt-l"></p>
                        <p class="d-md-none mt-m"></p>
                        <p>Watch how it’s made by hand in the video below</p>
                        <p class="d-md-none mb-s"></p>
                        <p class="noselect">
                            <span class="btn-circle" data-izimodal-open="#icvideo"><i class="fas fa-film"></i></span>
                            <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>see the video</span>
                        </p>
                        <div id="icvideo" data-izimodal-transitionin="fadeIn" data-izimodal-iframeURL="https://www.youtube.com/embed/op2BjUHk06s?controls=0&autoplay=1"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" data-anchor="ivan-chai-history" data-centered="false">
        <div class="slide">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-forgotten">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                </div>
            </div>

            <div class="container text-white ih-full-height ih-vertical-bottom">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <h2>A Forgotten Herbal Infusion</h2>
                        <p>In the 16th century, Russian monks were forbidden to drink coffee or tea because caffeine was believed by the Russian federal government to cause "intoxication". The monks, seeking alternative beverages, harvested herbs from wild fields and produced their own herbal infusions ...</p>
                        <p class="d-md-none mb-s"></p>
                        <p class="noselect">
                            <span class="btn-hint bounce-right">read more<i class="fas fa-arrow-right"></i></span>
                            <span class="btn-circle" data-izimodal-open="#ichistory"><i class="fas fa-book-reader"></i></span>
                        </p>
                        <p class="d-none d-md-block mb-l"></p>
                        <p class="d-md-none mb-m"></p>
                        <div id="ichistory" class="text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                            <h2 class="pt-s">A Forgotten Herbal Infusion</h2>
                            <p>... The monks noticed that Rosebay Willowherb produced a fragrant floral infusion that had a noticeable effect on their mental state and overall health. The herbal infusion soon became immensely popular with Russians and Europeans alike.</p>
                            <p>The term "<span class="nowrap">Ivan Chai</span>" was given to the herbal infusion by the foreigners who still enjoyed it in England and other European countries. Its popularity in England grew so drastically that by the end of the 19th century it was most likely noticed as a small threat to the Dutch East India Company. Rumours were supposedly spread that the Russians were poisoning <span class="nowrap">Ivan Chai</span> with white clay.</p>
                            <p class="pb-s">In the aftermath of the Russian Revolution of 1917, commercial production ceased and the consumption of <span class="nowrap">Ivan Chai</span> had practically fell to zero for Russia and the rest of Europe. Even in Russia, this beneficial herbal infusion remains somewhat unknown, and is slowly making a revival.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" data-anchor="winivansherbs" data-centered="false">
        <div class="slide">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-ivanchaiflowerupclose">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                </div>
            </div>

            <div class="container text-white ih-full-height ih-vertical-bottom">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <h2>Ivan Chai Instagram Giveaway</h2>
                        <p>Show us how you do herbal infusions on Instagram, and you can win free Ivan Chai from us. Click below for details.</p>
                        
                        <p class="d-md-none mb-s"></p>   
                        <p class="noselect">
                            <span class="btn-hint bounce-right">How do I enter?<i class="fas fa-arrow-right"></i></span>
                            <span class="btn-circle" data-izimodal-open="enter"><i class="fas fa-book-reader"></i></span>
                        </p> 
                                
                        <p class="d-md-none mb-m"></p>
                        <p class="noselect">
                            <span class="btn-hint bounce-right">Conditions?<i class="fas fa-arrow-right"></i></span>
                            <span class="btn-circle" data-izimodal-open="enter"><i class="fas fa-book-reader"></i></span>
                        </p>
                                
                        <p class="d-md-none mb-m"></p>        
                        <p class="noselect">
                            <span class="btn-hint bounce-right">Am I a winner?<i class="fas fa-arrow-right"></i></span>
                            <span class="btn-circle" data-izimodal-open="enter"><i class="fas fa-book-reader"></i></span>
                        </p>
                                
                        <p class="d-md-none mb-m"></p>        
                        <p class="noselect">
                            <span class="btn-hint bounce-right">Does this brew well with Instagram?<i class="fas fa-arrow-right"></i></span>
                            <span class="btn-circle" data-izimodal-open="enter"><i class="fas fa-book-reader"></i></span>
                        </p>
                                
                        <div id="enter" class="text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                            <h2 class="pt-s">How do I enter?</h2>
                            <li>Take a creative picture showing how you enjoy your favourite herbal infusion.</li>
                            <li>Post it on Instagram with #winivansherbs in the post caption, telling us what you benefits you look for in a herbal tea. </li>
                            <li>In the comments tag a friend who, just like you, loves herbal infusions.</li>
                        </div>
                                
                        <div id="conditions" class="text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                            <h2 class="pt-s">Who can participate? Conditions?</h2>
                            <li>Any one can over 13 years of age can participate. To be a winner, contestants must be accessible in the Amsterdam area in the Netherlands at the end of the contest (date here) to be personally given the prize of 3 gift sets of Ivan Chai. There will be three winners, selected by us based on most creativity or beauty.</li>
                            <li>Giveaway starts on Wednesday (date) 3 pm CET and ends on following Wednesday (date2) 3 pm CET. Entry Posts outside those times will no be considered.</li>
                            <li>We want to meet you and get social! We ask to take a picture with the winners, which we will post on Instagram, so everyone knows you were so happy to meet us and actually got your free Ivan Chai from us </li>
                        </div>
                        
                        <div id="winners" class="text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                            <h2 class="pt-s">How do I know if I am on of the three winners?</h2>
                            <p>We will publicly announce the winners with an Instagram post tagging the users around 5 pm CET on (date2) and direct message them  to arrange a time to personally deliver their prizes.</p>
                        </div>
                                
                        <div id="instagram" class="text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                            <h2 class="pt-s">Does this brew well with Instagram?</h2>
                            <p>Per Instagram rules, this promotion is in no way sponsored, administered, or associated with Instagram, Inc. By entering, entrants confirm that they are 13+ years of age, release Instagram of responsibility, and agree to Instagram’s terms of use.</p>
                        </div>
                                
                    </div>
                </div>
            </div>
        </div>
    </section>        
            
    <section class="section" data-anchor="connect">
        <div class="ih-bg-container">
            <div class="ih-bg-img ih-bg-img-ivanchaihills">
                <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
            </div>
        </div>
        <div class="container text-white ih-full-height">
            <div class="row">
                <div class="col-md-12">
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <h2>We Value Your Vitality</h2>
                    <p>We harvest the most beneficial <span class="nowrap">Ivan Chai</span> which grows in the naturally pristine region of the Altai in southern Siberia. Our <span class="nowrap">Ivan Chai</span> is single origin, hand-collected from wild fields. Your vitality is the utmost importance to us.</p>
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <p>Join our community of Siberian herbal tea enthusiasts.</p>
                    <p class="mb-s"></p>
                    <p class="ih-social-buttons noselect">
                        <a href="https://www.facebook.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Facebook"><i class="fab fa-facebook-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://twitter.com/ivansherbs" target=“_blank” title="Ivan's Herbs on Twitter"><i class="fab fa-twitter-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://www.instagram.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Instagram"><i class="fab fa-instagram"></i></a>
                        <span class="btn-hint bounce-left">connect with us</span>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </section>

<section class="section" data-anchor="discoverivanchai">
        <div class="ih-bg-container">
            <div class="ih-bg-img ih-bg-img-ivanchaihills">
                <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
            </div>
        </div>
        <div class="container text-white ih-full-height">
            <div class="row">
                <div class="col-md-12">
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <h2>Discover Ivan Chai</h2>
                    <p>Are you going to be in Amsterdam? Come try Ivan Chai for free with a very personal Ivan Chai Ceremony with Michael, our CEO & Founder.

It’s every week at 15:30 at the Alchemist Garden, a friendly vegan cafe. Address is 409 Overtoom, Amsterdam.

You can let us know you’re coming with email or on social media
</p>
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <p>Join our community of Siberian herbal tea enthusiasts.</p>
                    <p class="mb-s"></p>
                    <p class="ih-social-buttons noselect">
                        <a href="https://www.facebook.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Facebook"><i class="fab fa-facebook-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://twitter.com/ivansherbs" target=“_blank” title="Ivan's Herbs on Twitter"><i class="fab fa-twitter-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://www.instagram.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Instagram"><i class="fab fa-instagram"></i></a>
                        <span class="btn-hint bounce-left">connect with us</span>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>
