<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNFWKPG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header header-transparent"></header>
<div id="fullpage">

<!--
            <div class="ih-page-loader">
               <div class="ih-page-loader-inner">
                  <div class="ih-spinner">
                     <div class="ih-spinner-bounce"></div>
                  </div>
               </div>
            </div>
-->
<!--
            <div class="video-container">
                <iframe id="video-iframe" frameborder="0" allow="autoplay; encrypted-media" title="Ivan's Herbs" width="640" height="360" src="https://www.youtube.com/embed/oX5-ZJ4mus0?enablejsapi=1&controls=0&showinfo=0&autoplay=1&disablekb=1&rel=0&iv_load_policy=3&modestbranding=1"></iframe>
            </div>
-->

    <section class="section" data-anchor="ivan_chai">
        <div class="slide text-left">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-ivanchaidrink">
                    <div class="ih-bg-shadow ih-bg-shadow-lightdarken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                    <div class="container text-white">
                        <div class="row mt-m">
                            <div class="col-sm-5 col-md-4 col-lg-3">
                                <div class="logo logo-sm">
                                    <div class="logo-image"></div>
                                    <span class="logo-name f-monad f-wide">Ivan's Herbs</span>
                                    <span class="logo-motto f-monad">Herbs from Siberia</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-white ih-full-height ih-vertical-bottom">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="mb-s"><span class="font-weight-bold nowrap">Ivan Chai</span> maintains health naturally</h1>
                        <p class="mb-m">A beneficial Siberian herbal infusion</p>
                        <p class="d-none d-md-block mb-l"></p>
                        <p class="d-md-none mb-m"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" data-anchor="ivan-chai" data-centered="false">
        <div class="slide" data-anchor="benefits">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-pouring">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                </div>
            </div>
            <div class="container text-white ih-full-height">
                <div class="row mb-l">
                    <div class="col-md-12">
                        <p class="mt-m"></p>
                        <p class="noselect text-right">
                            <span class="btn-hint bounce-right">
                                <a href="#ivan-chai/history">
                                    <span class="d-md-none">swipe</span>
                                    <span class="d-none d-md-inline">click</span>
                                    to read the history</a>
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </p>
                        <p class="mb-m"></p>
                        <h1 class="mb-s">Benefits</h1>
                        <ul class="font-weight-bold">
                            <li class="mb-s">It's a calmative, restoring and relaxing you after stress.</li>
                            <li class="mb-s">It's caffeine free.</li>
                            <li class="mb-s">Kids enjoy it as it has a naturally sweet taste.</li>
                            <li class="mb-s">Excellent prostate problem prevention as well as potency improvement.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" data-anchor="history">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-forgotten">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                </div>
            </div>
            <div style="position: absolute; width: 100vw">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mt-m"></p>
                            <p class="noselect">
                                <span class="btn-hint bounce-left">
                                    <i class="fas fa-arrow-left"></i>
                                    <a href="#ivan-chai/benefits">
                                        <span class="d-md-none">swipe</span>
                                        <span class="d-none d-md-inline">click</span>
                                        to see the benefits
                                    </a>
                                </span>
                            </p>
                            <p class="d-md-none mt-s"></p>
                            <p class="d-none d-md-block mt-m"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-white ih-full-height ih-vertical-bottom">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <p class="mt-m"></p>
                        <h1>History</h1>
                        <p>In the 16th century, Russian monks were forbidden to drink coffee or tea because caffeine was believed by the Russian federal government to cause "intoxication". The monks, seeking alternative beverages, harvested herbs from wild fields and produced their own herbal infusions ...</p>
                        <p class="mb-s"></p>
                        <p class="noselect">
                            <span class="btn-hint bounce-right">read more<i class="fas fa-arrow-right"></i></span>
                            <span class="btn-circle" data-izimodal-open="#ichistory"><i class="fas fa-book-reader"></i></span>
                        </p>
                        <p class="d-md-none mt-s"></p>
                        <p class="d-none d-md-block mt-m"></p>
                        <div id="ichistory" class="text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                            <h2 class="pt-s">A Forgotten Herbal Infusion</h2>
                            <p>... The monks noticed that Rosebay Willowherb produced a fragrant floral infusion that had a noticeable effect on their mental state and overall health. The herbal infusion soon became immensely popular with Russians and Europeans alike.</p>
                            <p>The term "<span class="nowrap">Ivan Chai</span>" was given to the herbal infusion by the foreigners who still enjoyed it in England and other European countries. Its popularity in England grew so drastically that by the end of the 19th century it was most likely noticed as a small threat to the Dutch East India Company. Rumours were supposedly spread that the Russians were poisoning <span class="nowrap">Ivan Chai</span> with white clay.</p>
                            <p class="pb-s">In the aftermath of the Russian Revolution of 1917, commercial production ceased and the consumption of <span class="nowrap">Ivan Chai</span> had practically fell to zero for Russia and the rest of Europe. Even in Russia, this beneficial herbal infusion remains somewhat unknown, and is slowly making a revival.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" data-anchor="my-story" data-centered="false">
        <div class="slide">
            <div class="ih-bg-container">
                <div class="ih-bg-img ih-bg-img-michael">
                    <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
                    <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
                </div>
            </div>
            <div class="container text-white ih-full-height ih-vertical-bottom">
                <div class="row">
                    <div class="col-md-12">
                        <p class="d-none d-md-block mt-l"></p>
                        <p class="d-md-none mt-m"></p>
                        <h1 class="mb-s">My Story</h1>
                        <p>In 2017 my health was poor. I didn’t have much drive and was easily made anxious. That changed when I discovered a simple herbal infusion called Ivan Chai. I went to Siberia in 2018 just to make it with my own hands. Today I wish to share an Ivan Chai that comes from the pristine Altai region, an area of clean and pure nature miles away from any city.</p>
                        <p class="d-md-none mb-s"></p>
                        <p class="noselect">
                            <span class="btn-circle" data-izimodal-open="#icvideo"><i class="fas fa-film"></i></span>
                            <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>see how we make it</span>
                        </p>
                        <p class="d-md-none mt-s"></p>
                        <p class="d-none d-md-block mt-m"></p>
                        <div id="icvideo" data-izimodal-transitionin="fadeIn" data-izimodal-iframeURL="https://www.youtube.com/embed/op2BjUHk06s?controls=0&autoplay=1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" data-anchor="free-ivan-chai">
        <div class="ih-bg-container">
            <div class="ih-bg-img ih-bg-img-tealover">
                <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
            </div>
        </div>
        <div class="container text-white ih-full-height">
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="mt-m"></p>
                    <h1>Free Ivan Chai</h1>
                    <p>Subscribe to my newsletter, where I recount the revival of my health and my awareness.</p>
                    <p>
                    I’ll send you a link so you can try<br>Ivan Chai for free.
                        <br>
                        (free shipping within Benelux)
                    </p>
                    <form class="mt-l"action="/subscribe" method="POST">
                        <div class="row form-group justify-content-center">
                            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
                                <input class="form-control form-control-sm text-center ih-fancy mb-s" name="first_name" type="text" value="{{ first_name }}" placeholder="First name" minlength="2" maxlength="50" required>
                                <input class="form-control form-control-sm text-center ih-fancy mb-s" name="email" type="email" value="{{ email }}" placeholder="Email address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="btn btn-fancy" type="submit" value="Get my free Ivan Chai">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

	<section class="section" data-anchor="discoverivanchai">
        <div class="ih-bg-container">
            <div class="ih-bg-img ih-bg-img-ivanchaihills">
                <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
            </div>
        </div>
        <div class="container text-white ih-full-height">
            <div class="row">
                <div class="col-md-12">
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <h2>Discover Ivan Chai</h2>
                    <p>Are you going to be in Amsterdam? Come try Ivan Chai for free with a very personal Ivan Chai Ceremony with Michael, our CEO &amp; Founder.</p>
                    <p>It’s every week at <span class="font-weight-bold">15:30</span> at the <a href="https://www.facebook.com/AlchemistGarden/" title="Alchemist Garden" class="font-weight-bold">Alchemist Garden</a>, a friendly vegan cafe. The address is: <a href="https://www.google.com/maps/place/Overtoom+409,+1054+JP+Amsterdam,+Netherlands">409 Overtoom, Amsterdam</a>.</p>
					<p>You can let us know you’re coming with email or on social media.</p>
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <p>Join our community of Siberian herbal tea enthusiasts.</p>
                    <p class="mb-s"></p>
                    <p class="ih-social-buttons noselect">
                        <a href="https://www.facebook.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Facebook"><i class="fab fa-facebook-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://twitter.com/ivansherbs" target=“_blank” title="Ivan's Herbs on Twitter"><i class="fab fa-twitter-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://www.instagram.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Instagram"><i class="fab fa-instagram"></i></a>
                        <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>connect with us</span>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="section" data-anchor="connect">
        <div class="ih-bg-container">
            <div class="ih-bg-img ih-bg-img-ivanchaihills">
                <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
            </div>
        </div>
        <div class="container text-white ih-full-height">
            <div class="row">
                <div class="col-md-12">
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <h2>We Value Your Vitality</h2>
                    <p>We harvest the most beneficial <span class="nowrap">Ivan Chai</span> which grows in the naturally pristine region of the Altai in southern Siberia. Our <span class="nowrap">Ivan Chai</span> is single origin, hand-collected from wild fields. Your vitality is the utmost importance to us.</p>
                    <p class="d-none d-md-block mt-l"></p>
                    <p class="d-md-none mt-m"></p>
                    <p>Join our community of Siberian herbal tea enthusiasts.</p>
                    <p class="mb-s"></p>
                    <p class="ih-social-buttons noselect">
                        <a href="https://www.facebook.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Facebook"><i class="fab fa-facebook-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://twitter.com/ivansherbs" target=“_blank” title="Ivan's Herbs on Twitter"><i class="fab fa-twitter-square"></i></a>
                        <span class="d-none d-md-inline mr-s"></span>
                        <span class="d-md-none mr-xs"></span>
                        <a href="https://www.instagram.com/ivansherbs/" target=“_blank” title="Ivan's Herbs on Instagram"><i class="fab fa-instagram"></i></a>
                        <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>connect with us</span>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </section>
    -->
</div>
<footer class="ih-footer noselect">
    <!--
    <a href="https://shop.ivansherbs.com" title="Buy Ivan Chai" class="btn-circle1"><i class="fas fa-shopping-cart"></i> Buy</a>
    -->
    <a href="/#free-ivan-chai"><i class="fas fa-mug-hot"></i> Try for free</a>
</footer>
