<div class="ih-bg-container">
    <div class="ih-bg-img ih-bg-img-tealover">
        <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
        <div class="container text-white">
            <div class="row mt-m">
                <div class="col-md-4 offset-md-8">
                    <div class="logo logo-sm">
                        <a href="https://www.ivansherbs.com" title="Ivan's Herbs">
                            <div class="logo-image"></div>
                            <span class="logo-name f-monad f-wide">Ivan's Herbs</span>
                            <span class="logo-motto f-monad">Herbs from Siberia</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-white ih-full-height ih-vertical-bottom">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Join us for a cup of Ivan Chai?</h2>
            <p>In 2017 my health was poor. I didn’t have much drive and easily fell victim to anxiety. That changed when I discovered a simple herbal infusion called Ivan Chai. Subscribe to my story to hear how it revitalized my health naturally and removed all my anxiety.</p>
            <p>
                <form action="/subscribe" method="POST">
                    <div class="row form-group justify-content-center">
                        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
                            <input class="form-control text-center ih-fancy" name="your_precious" type="email" value="{{ email }}" placeholder="Email address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="btn-fancy" type="submit" value="Subscribe">
                        </div>
                    </div>
                </form>
            <p class="d-none d-md-block mb-l"></p>
            <p class="d-md-none mb-m"></p>
        </div>
    </div>
</div>
