<div class="ih-bg-container">
    <div class="ih-bg-img ih-bg-img-ivanchaiflower">
        <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
        <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
    </div>
</div>
<div class="container text-white ih-full-height ih-vertical-bottom">
    <div class="row">
        <div class="col-md-12">
            <p class="d-md-none mb-s"></p>
            <p class="d-none d-md-block mb-l"></p>
            <h1>Instagram Giveaway</h1>
            <p>Show us how you do herbal infusions on Instagram, and you can win free Ivan Chai from us. Click below for details.</p>
            <p class="d-md-none mb-s"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#enter"><i class="fas fa-book-reader"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>How do I enter?</span>
            </p>

            <p class="d-md-none mb-m"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#conditions"><i class="fas fa-file-contract"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>Conditions?</span>
            </p>

            <p class="d-md-none mb-m"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#winners"><i class="fas fa-trophy"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>Am I a winner?</span>
            </p>

            <p class="d-md-none mb-m"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#instagram"><i class="fab fa-instagram"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>Does this brew well with Instagram?</span>
            </p>

            <div id="enter" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">How do I enter?</h2>
                <li>Take a creative picture showing how you enjoy your favourite herbal infusion.</li>
                <li>Post it on Instagram with #winivansherbs in the post caption, telling us what you benefits you look for in a herbal tea. </li>
                <li>In the comments tag a friend who, just like you, loves herbal infusions.</li>
            </div>

            <div id="conditions" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">Who can participate? Conditions?</h2>
                <li>Any one can over 13 years of age can participate. To be a winner, contestants must be accessible in the Amsterdam area in the Netherlands at the end of the contest (date here) to be personally given the prize of 3 gift sets of Ivan Chai. There will be three winners, selected by us based on most creativity or beauty.</li>
                <li>Giveaway starts on Wednesday (date) 3 pm CET and ends on following Wednesday (date2) 3 pm CET. Entry Posts outside those times will no be considered.</li>
                <li>We want to meet you and get social! We ask to take a picture with the winners, which we will post on Instagram, so everyone knows you were so happy to meet us and actually got your free Ivan Chai from us </li>
            </div>

            <div id="winners" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">How do I know if I am on of the three winners?</h2>
                <p>We will publicly announce the winners with an Instagram post tagging the users around 5 pm CET on (date2) and direct message them  to arrange a time to personally deliver their prizes.</p>
            </div>

            <div id="instagram" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">Does this brew well with Instagram?</h2>
                <p>Per Instagram rules, this promotion is in no way sponsored, administered, or associated with Instagram, Inc. By entering, entrants confirm that they are 13+ years of age, release Instagram of responsibility, and agree to Instagram’s terms of use.</p>
            </div>
        </div>
    </div>
</div>
