<div class="ih-bg-container">
    <div class="ih-bg-img ih-bg-img-ivanchaiflower">
        <div class="ih-bg-shadow ih-bg-shadow-darken"></div>
        <div class="ih-bg-shadow ih-bg-shadow-vignette"></div>
    </div>
</div>
<div class="container text-white ih-full-height ih-vertical-bottom">
    <div class="row">
        <div class="col-md-12">
            <p class="d-md-none mb-s"></p>
            <p class="d-none d-md-block mb-l"></p>
            <h1>#WinIvansHerbs Instagram Giveaway</h1>
            <p>Tell us what health benefits you look for in a herbal infusion, and you could win Ivan Chai.</p>
            <p class="d-md-none mb-s"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#enter"><i class="fas fa-book-reader"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>How do I enter?</span>
            </p>

            <p class="d-md-none mb-m"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#conditions"><i class="fas fa-file-contract"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>Conditions?</span>
            </p>

            <p class="d-md-none mb-m"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#winners"><i class="fas fa-trophy"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>Am I a winner?</span>
            </p>

            <p class="d-md-none mb-m"></p>
            <p class="noselect">
                <span class="btn-circle" data-izimodal-open="#instagram"><i class="fab fa-instagram"></i></span>
                <span class="btn-hint bounce-left"><i class="fas fa-arrow-left"></i>Does this brew well with Instagram?</span>
            </p>

            <div id="enter" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">How do I enter?</h2>
                <li>Follow us @ivansherbs on Instagram</li>
                <li>Comment on the post, telling us what health benefits you look for in a herbal infusion. Tag two friends who love herbal infusions.</li>
            </div>

            <div id="conditions" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">Who can participate? Conditions?</h2>
                <li>Anyone over 13 years of age can participate. There will be three winners, selected at random. Each winner shall be shipped a free gift set of Ivan Chai.</li>
                <li>Giveaway starts on the day of post, and ends on following weekday at 3 pm CET. Entry comments outside those times will not be considered.</li>
            </div>

            <div id="winners" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">How do I know if I am one of the three winners?</h2>
                <p>We will announce the winners on our Instagram page and our Facebook page. The winners have to get in touch with us within 2 days via Instagram direct messaging, otherwise we will randomly pick another winner.</p>
            </div>

            <div id="instagram" class="popup font-weight-bold text-white pl-s pr-s" data-izimodal-transitionin="fadeIn">
                <h2 class="pt-s">Does this brew well with Instagram?</h2>
                <p>Per Instagram rules, this promotion is in no way sponsored, administered, or associated with Instagram, Inc. By entering, entrants confirm that they are 13+ years of age, release Instagram of responsibility, and agree to Instagram’s terms of use.</p>
            </div>
        </div>
    </div>
</div>
