@font-face {
    font-family: Monad;
    src: url("/fonts/Monad.otf") format("opentype");
}

@font-face {
    font-family: Papyrus;
    src: url("/fonts/Papyrus-Regular.ttf")  format('truetype')
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Elements */

body {
    margin: 0;
    font: 1.236rem Papyrus, "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media (max-width: 450px), (max-height: 450px) {
    body {
        font-size: 1rem;
    }
}

h1 {
	font-size: 2.5rem
}

h2 {
	font-size: 2rem
}

@media (max-width: 450px), (max-height: 450px) {
	h1 {
		font-size: 2rem
	}

	h2 {
		font-size: 1.5rem
	}
}

a {
    color: #00B7FF;
}

ul {
    padding-left: 20px;
}

iframe {
    border: 0;
}

section {
    background-color: #fff;
}

/* Generic style */

.f-monad {
    font-family: Monad;
}

.f-papyrus {
    font-family: Papyrus;
}

.f-wide {
    letter-spacing: 0.8rem;
}

@media (max-width: 450px), (max-height: 450px) {
    .f-wide {
        letter-spacing: 0.4rem;
    }
}

.pt-s { padding-top: 20px }
.pt-m { padding-top: 40px }
.pt-l { padding-top: 80px }

.pb-s { padding-bottom: 20px }
.pb-m { padding-bottom: 40px }
.pb-l { padding-bottom: 80px }

.mt-s { margin-top: 20px }
.mt-m { margin-top: 40px }
.mt-l { margin-top: 80px }

.mb-s { margin-bottom: 20px }
.mb-m { margin-bottom: 40px }
.mb-l { margin-bottom: 80px }

@media (max-width: 450px), (max-height: 450px) {
	.mb-s { margin-bottom: 15px }
	.mb-m { margin-bottom: 30px }
	.mb-l { margin-bottom: 50px }
}

/* ******* */
/* Classes */
/* ******* */


.ih-page-loader-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ih-spinner {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 100px auto;
}

.ih-spinner-bounce {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    animation: bounce 3s infinite ease-in-out;
    background-image: url("/images/logo/black_128.png");
    background-size: cover;
}

@keyframes bounce {
    0%   { opacity: 1; }
    50%  { opacity: .3; }
    100% { opacity: 1; }
}

.video-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -100;
}

#video-iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-width: none;
    max-height: none;
    z-index: -1;
}

.fullscreen {
    padding: 0;
    height: 100vh;
    background-color: transparent;
}
.fullscreen::before {
    content: '';
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.fullscreen .container, .fullscreen .ih-bg-container {
    opacity: 0;
}

.fullscreen .container,
.fullscreen .container > .row {
    height: 100%;
}

.fullscreen .container > .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fullscreen h1 {
    font-size: 4rem;
}

.fullscreen h2 {
    font-size: 2rem;
}

.logo {
    white-space: nowrap;
    text-align: center;
    user-select: none;
}

.logo .logo-image {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url("/images/logo/white_339.png");
    background-size: cover;
}

.logo .logo-name {
    display: block;
    font-size: 2rem;
}

.logo .logo-motto {
    display: block;
    font-size: 1.5rem;
}

.logo.logo-sm .logo-image {
    width: 100px;
    height: 100px;
}

.logo.logo-sm .logo-name {
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;
}

.logo.logo-sm .logo-motto {
    font-size: 0.7rem;
}

@media (max-width: 450px), (max-height: 450px) {
	.logo .logo-image {
		width: 100px;
		height: 100px;
	}

	.logo .logo-name {
        font-size: 1.5rem;
        /*TODO*/
	}

    .logo .logo-motto {
        font-size: 1rem;
        /*TODO*/
	}
}

.ih-heading {

}

.ih-subheading {

}

/* iziModal overrides*/

.iziModal {
    background:black;
}

/* Bootstrap overrides */

.btn {
    border-radius: 1.25rem;
    border: 2px solid transparent;
}
.btn-group-sm>.btn, .btn-sm {
    border-radius: 1rem;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 1.5rem;
}

.btn-light {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}

.btn-light:hover {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}

.btn-light:focus,
.btn-light.focus {
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

.btn-light.disabled,
.btn-light:disabled {
    color: #fff;
    background-color: transparent;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

/* New Components */

.btn-fancy {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);;
    background-image: none;
    font-family: Papyrus;
    border: 3px solid transparent;
    border-color: #fff;
    transition: color 0.25s ease, background-color 0.25s ease;
}

.btn-fancy:hover {
    color: #212529;
    border-color: #fff;
    background-color: #FFF;
}

.btn-fancy.btn-lg {
    border-radius: 2.5rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 450px), (max-height: 450px) {
	.btn-fancy.btn-lg {
		border-radius: 2rem;
		padding: 0.5rem 1rem;
		font-size: 1.5rem;
		font-weight: bold;
	}
}

.btn-fancy.disabled,
.btn-fancy:disabled {
    color: #fff;
    background-color: transparent;
}

.btn-fancy:not(:disabled):not(.disabled):active,
.btn-fancy:not(:disabled):not(.disabled).active,
.show > .btn-fancy.dropdown-toggle {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}

.ih-bg-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.ih-bg-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
}
.ih-bg-shadow {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
}
.ih-bg-img::after, .ih-bg-shadow::after {
    content: "\200B";
}

.ih-bg-img-ivanchaihills    { background-image: url("/images/back/ivanchaihills.jpg"); }
.ih-bg-img-ivanchaifield    { background-image: url("/images/back/ivanchaifield.jpg"); }
.ih-bg-img-ivanchaidrink    { background-image: url("/images/back/ivanchaidrink.jpg"); }
.ih-bg-img-tealover         { background-image: url("/images/back/tealover.jpg"); }
.ih-bg-img-businessowner    { background-image: url("/images/back/businessowner.jpg"); }
.ih-bg-img-forgotten        { background-image: url("/images/back/forgotten.jpg"); }

.ih-bg-shadow-vignette      { box-shadow: 0 0 200px rgba(0,0,0,0.9) inset; }
.ih-bg-shadow-darken        { opacity: 0.4; background-color: #000000; }

.ih-relative {
  position: relative;
}

.ih-full-height {
  min-height: 100vh;
}

.ih-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ih-vertical-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Transitions */
/*
.ih-page-loader {
    transition: opacity 1s, visibility 0s 1s;
}

.fullscreen .container, .fullscreen .ih-bg-container {
    transition: opacity 2s 1s;
}
*/
